/*  Add your styling here */

/* textarea:focus, input:focus{
  outline: none;
}  */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.wrapper {
position: relative;
overflow-x:hidden;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 70px;
}
.navbar {
  padding-top: 0;
}

.nav-logo {
  padding: 0;
  width: 130px;
  height: 100px;
}

span.navbar-toggler-icon {
color: white;
}
.navbackground {
  background-color: #fcd5ca;
}
.container-fluid {
  /* text-align: center; */
  text-align: justify;
  padding: 15px;
}

.hidden.navbar {
  display: none;
}

.text {
  width: 96%;
}

p.tagline {
  color: white;
  text-align: right;
  width: 250px;
  font-size: 17px;
  margin-left: 119px;
}

div.middle-image {
/* display: block; */
width: 600px;
height: 304px;

}


.cake-image {
  /* display: block; */
  text-align: center;
  width: 62%;
  height: 84%;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}

.cake-images {
  width: 155px;
  height: 105px;
  margin: 5px;
  margin-bottom: 30px;
  display:inline-block;
}


.cake-images:hover {
  transform: scale(1.1);
  transition: all .4s ease-in-out;
  -webkit-transform: scale(1.1);
}

.images-container {
  text-align: center;
}


/* footer  */

.footer-distributed {
  background-color: #fcd5ca;
  /* box-shadow: 0 1px 1px #0fc0f0; */
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 30px;
}

.footer-distributed .footer-left p {
  color: white;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  margin-left: 16px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fcd5ca;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

.fa-twitter:before {
  color:  #ffffff;
}
.fa-facebook:before {
  color:  #ffffff;
}

.fa-instagram:before {
  color: #ffffff;
}

@media screen and (min-width: 540px) {
  /* body {
   
  } */
  .nav-link {
    margin: 30px;
  }
  .nav1 {
    display:none;
  }
  .hidden.navbar  {
    display: block;
    /* display:flex; */
  }

  .tagline {
    display:none;
  }
    h1 {
      font-size: 160px;
    }
    img.image-fluid {
      width: 1100px;
      height: 700px;
      display: block;
      margin: 0 auto 40px auto;
      /* margin-left: auto;
      margin-right: auto; */
    }

  img.cake-images {
    width: 418px;
    height: 310px;
  }
}

@media screen and (min-width: 900px) {
  /* body {
   
  } */

  .nav-link {
    margin: 30px;
  }

    .nav1 {
      display:none;
    }
  .hidden.navbar {
    display: block;
    justify-content: left;
    /* display: flex; */

  }
  
  .tagline {
display:none;
    }
  
}